.profile {
  position: absolute;
  border-radius: 16px;
  display: none;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px ridge #f0f2f5;
  opacity: 0;
  transition: opacity 0.2s linear 0.5s;
  z-index: 9999;

  .profile-user {
    padding: 0 28px;
    display: flex;
    .avatar {
      img {
        width: 92px;
        height: 92px;
        border-radius: 50%;
      }
    }

    .information {
      padding: 0 16px;
      .information-name {
        padding: 4px 0 0 0;
        margin-bottom: 8px;
        span {
          font-size: 1.25rem;
          font-weight: 700;
          color: #080808;
          text-align: start;
        }
      }

      .information-item {
        display: flex;
        font-size: 0.9375rem;
        line-height: 1.333;
        font-weight: 400;
        color: #080809;
        text-align: start;

        .information-item__icon {
          filter: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
          margin-right: 5px;
        }
      }

      .information-item:nth-child(n) {
        margin-top: 4px;
      }
    }
  }

  .action {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
  }
}
